/* Ini Css */
.main-header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav>a {
    border: 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.home-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/1.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.banner-img {
    height: 320px;
    background-size: cover;
    background-position: center;
}

.banner-1 {
    background-image: url(https://picsum.photos/750);
}
.banner-2 {
    background-image: url(https://picsum.photos/710);
}
.banner-3 {
    background-image: url(https://picsum.photos/720);
}

.content-header {
    text-align: center;
}

.main-container {
    display: flex;
    gap: 24px;
}

.main-item {
    flex: 1;
}

.our-packages-header {
    background-color: aliceblue;
    margin-top: 24px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.packages-content {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    row-gap: 20px;
    padding: 2rem 1.75rem ;
}

.packages-item {
    /* width: calc(100vw / 3 - 6px); */
    padding: 3px 5px;
    display: flex;
    align-items: flex-start;
    
    
}

.packages-item .icon {
    border-radius: 100%;
    padding: 8px;
    background-color: #cacaca;
}

.packages-item .icon>i {
    color: white;
    font-size: 22px !important;
}

.packages-item .content {
    margin-left: 1.5rem;
}


.packages-item .content .label {
    font-size: 22px;
    line-height: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;

}

.packages-item .content .description {
   font-weight: 400;
   font-size: 18px;
   color: grey;

}

footer {
    margin-top: 24px;
    text-align: center;
}

.form-card {
background-color: aliceblue;
padding: 36px;
width: 360px;
}

.form-card-header {
margin-bottom: 40px;
}

.form-card-header>h3 {
    font-weight: 800;
    font-size: 32px;
    
}

.form-card-header>p {
    font-weight: 400;
    font-size: 14px;
    color: gray;
    
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.input-error {
    font-weight: 600;
    font-size: 12px;
    color: red;
    display: none;
}

.form-control>label {
font-size: 15px;
font-weight: 600;
margin-bottom: 6px;
}

.form-control>input {
    padding: 9px 6px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}
.form-control>select {
    padding: 9px 6px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border-radius: 8px;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
}

@media only screen and (max-width: 480px) {
    .main-header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .main-container {
        flex-direction: column;
    }
    form {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}